@import 'tailwindcss';

@font-face {
	font-family: 'Saira Extra Condensed';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/SairaExtraCondensed-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@theme {
	/* fonts */
	--font-saira: 'Saira Extra Condensed', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;

	/* colors */
	--color-brand: hsl(13, 100%, 63%);
	--color-secondary: hsl(42, 79%, 63%);
	--color-accent: hsl(180, 90%, 40%);
	--color-brand-light: hsl(13, 100%, 73%);
	--color-brand-dark: hsl(13, 100%, 53%);
	--color-dark: hsl(0, 4%, 13%);
	--color-light: hsl(0, 0%, 96%);
	/* old accent 41d7ff */

	/* typography */
	--color-text: hsl(0, 4%, 18%);
}

body {
	font-family: var(--font-montserrat);
	color: var(--color-text);
}

.slideIn {
	transition:
		-webkit-transform 0.5s,
		-moz-transform 0.5s,
		transform 0.5s,
		opacity 0.5s;
	-webkit-transform: translate(0, 0) !important;
	-moz-transform: translate(0, 0) !important;
	transform: translate(0, 0) !important;
	opacity: 1;
}
