@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

/* ::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.25s;
} */

.slideIn {
	transition:
		-webkit-transform 0.5s,
		-moz-transform 0.5s,
		transform 0.5s,
		opacity 0.5s;
	-webkit-transform: translate(0, 0) !important;
	-moz-transform: translate(0, 0) !important;
	transform: translate(0, 0) !important;
	opacity: 1;
}
